button
{
    margin: 10px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A9A9A9 !important;
}
.dropdown-toggle, .dropdown-item, .nav-item{
    cursor: pointer;
}
