:host {
    top: 5em;
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  header  {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  mat-toolbar {
    background: green;
    min-width: 100%;
  }
  
  mat-select {
    margin: 1em;
  }
  
  header, div.cdk-overlay-container mat-select-panel {
    z-index: 1001;
  }